<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<body>
    <!--NAV BAR ADMIN-->
    <nav th:fragment="nav" class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Biblioteca</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/usuario/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/usuario/novo">Cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/usuario/admin/listar">Usuarios</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Outras ações
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Obras</a></li>
                            <li><a class="dropdown-item" href="#">Empréstimos</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout">Sair</a></li>
                        </ul>
                    </li>
                </ul>
                <ul th:replace="auth/auth-nav :: nav"></ul>
            </div>
        </div>
    </nav>
</body>

</html>