<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/frag-head :: head"></head>
<body>
    <nav th:replace="fragments/frag-nav :: frag-nav"></nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Insira suas credenciais</h2>
                <hr class="divider">
                <div class="alert alert-danger alert-dismissible fade show" th:if="${param.error}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <span>Senha ou usuário inválido</span>
                </div>

                <form th:action="@{/login}" method="post">
                    <div class="row mb-3">
                        <label class="col-sm-1 col-form-label">Usuário:</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" name="username"/>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-1 col-form-label">Senha:</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="password" name="password"/>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Entrar"/>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>